.form-newletter {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  &__input {
    flex: 1 1 100%;
    box-sizing: border-box;
    padding: 20px 10px;
    border: 2px solid rgb(211, 177, 235);
    background: transparent;
    border-radius: 6px;
    height: 50px;

    font-family: $font-family1;
    font-size: 1.071rem;
    color: rgb(224, 194, 246);
    line-height: 1.5;

    &:focus{
      color: $white;
    }
  }
  &__btn-submit {
    font-size: 1.285rem;
  }
}

@media screen and (max-width: 768px){
  .form-newletter{
    flex-direction: row;
  }
}
@media screen and (max-width: 480px){}