.main-header {
  background-image: url('../img/bg/header-1.jpg');;
  min-height: 550px;
  background-position: top center;
  background-size: cover;
  position: relative;

  &__top-content {
    position: relative;
    box-sizing: border-box;
    max-width: 1200px;
    padding: 10px 15px;
    margin: 0 auto;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__main-content {
    position: absolute;
    max-width: 1100px;
    box-sizing: border-box;
    padding: 5px 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__title {
      font-family: $font-family1;
      font-size: 3rem;
      color: $white;
      font-weight: bold;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
      padding: 5px 0;
    }
    &__description {
      padding: 10px 0;
      margin: 0;
      font-family: $font-family1;
      font-size: 1.285rem;
      color: $white;
      line-height: 1.5;
      text-align: center;
    }
    &__btn-wrap {
      padding: 20px 0;
      text-align: center;
      &__btn {
      }
    }
  }
}

.logo-container {
  flex-shrink: 0;
  flex-grow: 0;
  &__logo-wrap {
    max-width: 170px;
    &__image {
      max-width: 100%;
      width: 100%;
    }
  }
}

/* navigation */
.main-menu {
  &__btn {
    display: none;
    position: fixed;
    background: transparent;
    border: none;
    overflow: hidden;
    outline: none;
    top: 15px;
    right: 15px;
    box-sizing: border-box;
    width: 40px;
    height: 44px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 200;
    span {
      display: block;
      position: absolute;
      height: 6px;
      width: 50%;
      background: $purple-light;
      opacity: 1;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:nth-child(even) {
        left: 50%;
        border-radius: 0 8px 8px 0;
      }
      &:nth-child(odd) {
        left: 0;
        border-radius: 9px 0 0 9px;
      }
      &:nth-child(1),
      &:nth-child(2) {
        top: 4px;
      }
      &:nth-child(3),
      &:nth-child(4) {
        top: 17px;
      }
      &:nth-child(5),
      &:nth-child(6) {
        top: 31px;
      }
    }

    /**/
    /**/
    /**/

    &.open span:nth-child(1),
    &.open span:nth-child(6) {
      transform: rotate(45deg);
    }

    &.open span:nth-child(2),
    &.open span:nth-child(5) {
      transform: rotate(-45deg);
    }

    &.open span:nth-child(1) {
      left: 3px;
      top: 10px;
    }

    &.open span:nth-child(2) {
      left: calc(43% - 0px);
      top: 10px;
    }

    &.open span:nth-child(3) {
      left: -40%;
      opacity: 0;
    }

    &.open span:nth-child(4) {
      left: 100%;
      opacity: 0;
    }

    &.open span:nth-child(5) {
      left: 3px;
      top: 24px;
    }

    &.open span:nth-child(6) {
      left: calc(43% - 0px);
      top: 24px;
    }
    /**/
  }

  &__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__item {
      display: block;
      position: relative;

      color: #fff;
      list-style: none;
      padding: 0 15px;
      &__link {
        font-family: $font-family1;
        font-size: 15px;
        color: $white;
        line-height: 1.7;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        transition: all 0.2s ease;

        &:focus,
        &:hover {
          color: $purple;
        }
      }

      &__dropdown-menu {
        display: none;
        box-sizing: border-box;
        border-radius: 6px;
        background-color: rgb(245, 245, 245);
        position: absolute;
        width: 160px;
        padding: 10px 5px;
        top: 200%;
        left: 50%;
        transform: translate(-50%, 0);

        &__item {
          padding: 5px 0;
          list-style: none;
          border-bottom: 1px solid rgb(228, 228, 228);

          &__link {
            display: block;
            position: relative;
            font-family: $font-family1;
            font-size: 15px;
            line-height: 1.2;
            padding-left: 10px;
            color: $text;
            font-weight: bold;
            text-decoration: none;

            &:before {
              position: absolute;
              left: 0;
              top: 50%;
              transform: translate(0, -50%);
              display: block;
              content: '';
              height: 100%;
              width: 3px;
              background: $purple;
              border-radius: 5px;
            }

            &:focus,
            &:hover {

            }
          }
        }

      }

    }
  }
}

/* active class in dropdow-menu */
.dropdown-menu {
  &__angle-down {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    font-weight: bold;
    font-size: 24px;
  }
  &--active {
    display: block;
  }
}

/* ----------------------- */
/*  MEDIA   */
/* ----------------------- */

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 968px) {

}

@media screen and (max-width: 768px) {
  .main-menu__btn {
    display: block;
  }

  .main-menu {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;

    &__list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      flex-direction: column;
      &__item {
        text-align: center;
        margin-bottom: 2%;
        &:last-child {
          margin-bottom: 0;
        }
        &__link {
          font-size: 22px;
        }
      }
    }

    &--menu-show{
      display: block;
      opacity: 1;
    }
  }
}

@media screen and (max-width: 480px) {

  .main-header {
    &__top-content {
      flex-wrap: wrap;
    }
    &__main-content {
      top: 65%;
    }
  }

  .logo-container {
    margin: 0 auto;
  }
}